#
# File    : .github/workflows/release.yml
# Purpose : Github workflow to invoke release.sh and upload ZIPs as a release.
# Author  : Martin Rizzo | <martinrizzo@gmail.com>
# Date    : Dec 12, 2025
# Repo    : https://github.com/martin-rizzo/AmazingZImageWorkflow
# License : MIT
#- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#                           Amazing Z-Image Workflow
#  Z-Image workflow with customizable image styles and GPU-friendly versions
#_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
name: Release ZIP packages
permissions:
  contents: write
on:
  push:
    tags:
      - '*'
jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zipping All Amazing Z-Image Packages
        run: |
          source files/utils/release.sh "${{ github.ref_name }}" "${{ github.workspace }}"
          echo "RELEASE_DIR=$RELEASE_DIR" >> $GITHUB_ENV

      - name: Print ZIP Path (debugging)
        run: |
          echo "RELEASE_DIR=${{ env.RELEASE_DIR }}"

      - name: Upload ZIP Packages to Release
        uses: svenstaro/upload-release-action@2.11.3
        with:
          release_name: "Amazing Z-Image WF ${{ github.ref_name }}"
          body        : "Automatic release generated for the tag ${{ github.ref_name }}"
          file        : ${{ env.RELEASE_DIR }}/*  #< the folder which has all the files to release
          repo_token  : ${{ secrets.GITHUB_TOKEN }}
          tag         : ${{ github.ref }}
          overwrite   : true
          file_glob   : true
          draft       : true
